{% set base='https://www.joannadeangelis.ca/' %}
{% extends '_base_en.html' %}
{% block content %}

    <section id="banner-contact">
        <div class="background-banner-contact">
            <div class="text-banner-telas">
                404 Not Found
            </div>
        </div>
    </section>

    <section>
        <div class="mt100 mb100">
            <div class="container">
                <div class="subtitle-main-site mt50">The page you are looking for could not be located.</div>
                <div class="mt10">We apologize for the inconvenience.</div>
            </div>
        </div>
    </section>

{% endblock %}
