{% set slug = 'about' %}
{% set lang = 'en' %}
{% extends '_base.html' %}
{% block content %}

    <section id="banner-about">
        <div class="background-banner-about">
            <div class="text-banner-telas">
                About Us
            </div>
        </div>
    </section>

    <section>
        <div class="mt100 mb100">
            <div class="container">
                <div class="subtitle-main-site text-center">Joanna de Ângelis Spiritist Study Group (JASSG) is an organization founded in 1996 and incorporated by the Province of Ontario in 2004.</div>
                <div class="subtitle-main-site mt50">Mission</div>
                <div class="mt10">Joanna de Ângelis Spiritist Study Group (JASSG) is a non-profit organization. JASSG’s mission is to disseminate the Christian Spiritism in the Toronto area, Canada, according to the principles codified by Allan Kardec. This dissemination is done through the study and practice of Spiritism in its triple aspects: philosophical, scientific and religious. It is also accomplished by the offering of services for emotional and spiritual support, passes, personal and community development.</div>
                <div class="subtitle-main-site mt50">General Objective</div>
                <div class="mt10">To disseminate the study and practice of the Spiritism codified by Allan Kardec in its triple aspect: philosophic, scientific and religious.</div>
                <div class="subtitle-main-site mt50">Specific Objectives</div>
                <div class="mt10">• Train volunteer-workers in order to disseminate Spiritism in a realistic and safe manner; respecting ethnical, religious and cultural diversities.<br>• Promote community development and humanitarian activities in the light of Spiritism</div>
            </div>
        </div>
    </section>

    <section id="spiritism" class="hidden-xs hidden-sm">
        <div class="d_flex">
            <div class="content-spiritism">
                <div class="text-spiritism">
                    <div class="title-main-site-white">Organization</div>
                    <div class="mt30">Organizational Chart of the activities developed at Joanna de Ângelis Spiritist Study Group<br><br>
        JASSG seeks to develop a Participatory Methodology* in its administration and management of its activities, as well as in the study groups. Respect to the rhythms and styles of learning, different levels of knowledge and individual availability are the principles that guide the development of its actions.<br><br>Following these guidelines, the time invested training volunteer-workers can be (or not) a long-term process. This strategy is supported by Hermínio C. Miranda in his book Diálogo com as Sombras (page 32), where he writes: “Despite the nature of work – study, research, experimentation, disobsession – a group should not start its specific activities unless it has finished its short or long learning process about the doctrine questions.”</div>
                </div>
            </div>
            <div class="img-organization"></div>
        </div>
    </section>

    <section id="spiritism" class="hidden-md hidden-lg">
        <div class="d_flex fd_column">
            <div class="content-spiritism">
                <div class="text-spiritism" style="padding: 40px 20px;">
                    <div class="title-main-site-white">Organization</div>
                    <div class="mt30">Organizational Chart of the activities developed at Joanna de Ângelis Spiritist Study Group<br><br>
        JASSG seeks to develop a Participatory Methodology* in its administration and management of its activities, as well as in the study groups. Respect to the rhythms and styles of learning, different levels of knowledge and individual availability are the principles that guide the development of its actions.<br><br>Following these guidelines, the time invested training volunteer-workers can be (or not) a long-term process. This strategy is supported by Hermínio C. Miranda in his book Diálogo com as Sombras (page 32), where he writes: “Despite the nature of work – study, research, experimentation, disobsession – a group should not start its specific activities unless it has finished its short or long learning process about the doctrine questions.”</div>
                </div>
            </div>
            <div class="img-organization-mob"></div>
        </div>
    </section>

{% endblock %}
