{% extends '_base.html' %}
{% block content %}

    <section id="banner-activities">
        <div class="background-banner-activities">
            <div class="text-banner-telas">
                Atividades
            </div>
        </div>
    </section>

    <section>
        <div class="mt70 mb100">
            <div class="container">
                <div class="text-center subtitle-main-site">Atividades e Serviços Espíritas - Programação</div>
                <div class="text-center mt10">Para cumprir nossa missão, oferecemos uma série de atividades voltadas ao Espiritismo e ao Desenvolvimento Comunitário e Individual, com o objetivo de divulgar os ensinamentos espíritas como filosofia de vida e auxiliar nossa comunidade em suas questões.</div>

                <div class="subtitle-main-site mt40">Atividades Semanais</div>
                <div class="content-activities-grid mt10">
                    <div class="content-activities-blue-1">Domingo</div>
                    <div class="content-activities-blue-2 ml5 mr5">11:00 às 12:30</div>
                    <div class="content-activities-blue-3">Evangelho segundo o Espiritismo / Caring Family</div>

                    <div class="content-activities-grey-1 mt5">Sábado</div>
                    <div class="content-activities-grey-2 ml5 mr5 mt5">17:00 às 18:30</div>
                    <div class="content-activities-grey-3 mt5">Evangelho para crianças e adolescentes </div>

                    <div class="content-activities-blue-1 mt5">Quarta-feira</div>
                    <div class="content-activities-blue-2 ml5 mr5 mt5">18:00 às 20:00</div>
                    <div class="content-activities-blue-3 mt5">Reunião fraterna*</div>
                </div>

                <small class="activities-about mt10">*Necessita agendamento através do direct do Facebook/Instagram</small>

                <div class="subtitle-main-site mt40">Atividades Mensais</div>
                <div class="content-activities-grid mt10">
                    <div class="content-activities-blue-1">1o e 3o Sábado</div>
                    <div class="content-activities-blue-2 ml5 mr5">10:00 às 11:00</div>
                    <div class="content-activities-blue-3">Hora da Vibração</div>

                    <div class='content-activities-grey-1 mt5'>1o e 3o Domingo</div>
                    <div class='content-activities-grey-2 ml5 mr5 mt5'>11:00 às 12:30</div>
                    <div class='content-activities-grey-3 mt5'>Caring Family (Inglês)</div>

                    <div class='content-activities-blue-1 mt5'>2o e 4o Domingo</div>
                    <div class='content-activities-blue-2 ml5 mr5 mt5'>11:00 às 12:30</div>
                    <div class='content-activities-blue-3 mt5'>Evangelho segundo o espiritismo (Português)</div>

                    <div class='content-activities-grey-1 mt5'>1o e 3o Domingo</div>
                    <div class='content-activities-grey-2 ml5 mr5 mt5'>11:00 às 12:30</div>
                    <div class='content-activities-grey-3 mt5'>Evangelho para crianças e adolescentes (Inglês)</div>

                    <div class='content-activities-blue-1 mt5'>2o e 4o Domingo</div>
                    <div class='content-activities-blue-2 ml5 mr5 mt5'>11:00 às 12:30</div>
                    <div class='content-activities-blue-3 mt5'>Workshop para crianças e adolescentes</div>
                </div>

                <div class="subtitle-main-site mt40">Biblioteca e livraria</div>
                <div class="mt10">Centenas de títulos de diversos escritores espíritas estão à disposição para todos que desejam aprender mais sobre essa filosofia. Livros em três idiomas (inglês, português e espanhol) disponível em nossa biblioteca exclusivamente para membros, e uma extensa livraria aberto ao público..</div>
                <div class="content-activities-grid content-activities-grid-2 mt10">
                    <div class="content-activities-blue-1">Quarta-feira</div>
                    <div class="content-activities-blue-4 ml5">18:00 às 20:00</div>

                    <div class="content-activities-grey-1 mt5">Domingo</div>
                    <div class="content-activities-grey-4 ml5 mt5">11:00 às 12:30</div>
                </div>
                <div class="subtitle-main-site mt50 text-center">Atividades e Serviços Espíritas - Descrição</div>
                <div class="subtitle-main-site mt40">Estudo do Evangelho em português</div>
                <div class="mt10">Encontros semanais oferecidos a pessoas interessadas em aprender ou aprofundar o Evangelho segundo o Espiritismo. Durante essas reuniões, os capítulos do Evangelho são estudados e discutidos. Por meio de metodologia adequada, os participantes são estimulados a participar e contribuir com os estudos, além de autoconscientização e transformação individual.</div>
                <div class="subtitle-main-site mt40">Estudo do Espiritismo em Inglês</div>
                <div class="mt10">O objetivo principal deste trabalho é cumprir, na língua inglesa, as idéias de Kardec sobre um estudo sistemático dos princípios do Espiritismo. Dessa forma, o interessado tem a oportunidade de construir uma compreensão fundamental dos aspectos científicos, morais e filosóficos do Espiritismo. Este é um estudo aberto e contínuo para servir à comunidade de língua inglesa. Este estudo tem como referência os livros fundadores de Kardec e a literatura espírita disponíveis na língua inglesa.</div>
                <div class="subtitle-main-site mt40">Toronto Spiritism Weekend</div>
                <div class="icons">
                    <a class="mt10" href="https://www.facebook.com/TorontoSpiritistWeekend" target="_blank" rel="noreferrer noopener">Facebook</a>
                    <a class="mt10" href="https://instagram.com/torontospiritistweekend?igshid=NzAzN2Q1NTE=" target="_blank" rel="noreferrer noopener">Instagram</a>
                    <a class="mt10" href="https://tsweekend.ca/" target="_blank" rel="noreferrer noopener">TWS Website</a>
                </div>
                <div class="subtitle-main-site mt40">Reunião Fraternal</div>
                <div class="mt10">O Auxílio Fraterno é oferecido com o objetivo de auxiliar quem chega ao grupo espírita em busca de ajuda e aconselhamento devido a problemas físicos, psicológicos, espirituais ou uma combinação deles. Os voluntários são treinados em postulados espíritas e conhecimentos básicos de relacionamento interpessoal.</div>
                <div class="subtitle-main-site mt40">Caring Family e Evangelização Infantil</div>
                <div class="mt10">Caring Family propõe tópicos reflexivos sobre o papel educativo dos pais, membros da família e todos que convivem com as crianças, para que possam harmonizar todos os ambientes familiares.  Permitindo assim contato com assuntos educativos que possam esclarecer suas dúvidas, ajudando a sanar dificuldades de relacionamentos nos mais diversos aspectos diários.<br><br></div>
                <div class="mt10">A família é a escola de bênçãos onde se aprendem os deveres fundamentais para uma vida feliz e sem cujo apoio fenecerem os ideais, desfalecem as aspirações, emruchecem as resistências morais. O ser humano é estruturalmente constituído para viver em família, a fim de desenvolver os sublimes conteúdos psíquicos que lhe jazem adormecidos, aguardando os estímulos da convivência no lar, para liberá-los e sublimar-se.” <br><br> Divaldo Franco / Joanna de Angelis</div>
                <div class="subtitle-main-site mt40">Passe</div>
                <div class="mt10">Passe é uma técnica terapêutica usada para promover o equilíbrio na energia, corpo e espírito de uma pessoa e tem como objetivo auxiliar nos processos de cura.</div>
                <div class="subtitle-main-site mt40">Estudo Sistemático do Espiritismo em Português</div>
                <div class="mt10">Grupo fechado de estudos. <br> <br> Os objetivos deste grupo são: <br> <br> 1) construir uma compreensão ampla do Espiritismo e seus triplos aspectos: científico, religioso e filosófico; <br> <br> 2) estimular que os conhecimentos adquiridos sejam utilizados no cotidiano e na transformação moral individual; e <br> <br> 3) preparar trabalhadores voluntários para as atividades do JASSG</div>
                <div class="subtitle-main-site mt40">Estudo e prática mediúnica</div>
                <div class="mt10">É um grupo fechado de estudos que visa formar trabalhadores voluntários que queiram e precisem se educar quanto às suas faculdades mediúnicas. O objetivo final é ajudar os participantes a praticarem sua mediunidade de forma saudável. É uma preparação de longo prazo e constante, que segue as diretrizes codificadas por Allan Kardec e apresentadas na literatura espírita complementar.</div>
                <div class="subtitle-main-site mt40">Hora da Vibração</div>
                <div class="mt10">É uma atividade aberta a qualquer pessoa da comunidade que queira, em conjunto, refletir, agradecer a Deus por todos os benefícios recebidos, ou buscar ajuda e apoio para passar por períodos difíceis. A oração é um recurso valioso na restauração do equilíbrio individual e coletivo, que nos permite alterar nossas vibrações mentais e nos comunicarmos com Deus.</div>
            </div>
        </div>
    </section>

{% endblock %}
