{% set slug = 'activities' %}
{% set lang = 'en' %}
{% extends '_base.html' %}
{% block content %}

    <section id="banner-activities">
        <div class="background-banner-activities">
            <div class="text-banner-telas">
                Activities
            </div>
        </div>
    </section>

    <section>
        <div class="mt70 mb100">
            <div class="container">
                <div class="text-center subtitle-main-site">Spiritist Activities and Services – Schedule</div>
                <div class="text-center mt10">In order to fulfill our mission, we offer a series of activities regarding Spiritism and Community and Individual Development, aiming to spread Spiritist teachings as a philosophy for life and to help our community with its issues.</div>

                <div class="subtitle-main-site mt40">Weekly Activities</div>
                <div class="content-activities-grid mt10">
                    <div class="content-activities-blue-1">Sunday</div>
                    <div class="content-activities-blue-2 ml5 mr5">11:00 am to 12:30 pm</div>
                    <div class="content-activities-blue-3">Gospel According to Spiritism/ Caring Family</div>

                    <div class="content-activities-grey-1 mt5">Saturday</div>
                    <div class="content-activities-grey-2 ml5 mr5 mt5">5:00 pm to 6:30 pm</div>
                    <div class="content-activities-grey-3 mt5">Gospel for Teens and Gospel for Kids </div>

                    <div class="content-activities-blue-1 mt5">Wednesday</div>
                    <div class="content-activities-blue-2 ml5 mr5 mt5">6:00 pm to 8:00 pm</div>
                    <div class="content-activities-blue-3 mt5">Fraternal meeting*</div>
                </div>

                <small class="activities-about mt10">*Appointment required – via Facebook or Instagram</small>

                <div class="subtitle-main-site mt40">Monthly Activities</div>
                <div class="content-activities-grid mt10">
                    <div class="content-activities-blue-1">1st and 3rd Saturday</div>
                    <div class="content-activities-blue-2 ml5 mr5">10:00 am to 11:00 am</div>
                    <div class="content-activities-blue-3">Vibration Time</div>

                    <div class='content-activities-grey-1 mt5'>1st and 3rd Sunday</div>
                    <div class='content-activities-grey-2 ml5 mr5 mt5'>11:00 am to 12:30 am</div>
                    <div class='content-activities-grey-3 mt5'>Caring Family (English)</div>

                    <div class='content-activities-blue-1 mt5'>2nd and 4th Sunday</div>
                    <div class='content-activities-blue-2 ml5 mr5 mt5'>11:00 am to 12:30 pm</div>
                    <div class='content-activities-blue-3 mt5'>Gospel According to Spiritism (Portuguese)</div>

                    <div class='content-activities-grey-1 mt5'>1st and 3rd Sunday</div>
                    <div class='content-activities-grey-2 ml5 mr5 mt5'>11:00 am to 12:30 pm</div>
                    <div class='content-activities-grey-3 mt5'>Gospel for Teens and Gospel for Kids (English)</div>

                    <div class='content-activities-blue-1 mt5'>2nd and 4th Sunday</div>
                    <div class='content-activities-blue-2 ml5 mr5 mt5'>11:00 am to 12:30 pm</div>
                    <div class='content-activities-blue-3 mt5'>Workshop for Teens and Workshop for kids</div>
                </div>

                <div class="subtitle-main-site mt40">Library & Book Store</div>
                <div class="mt10">Hundreds of titles by different spiritist writers are available for anyone who wants to learn more about this philosophy. Books in three languages (English, Portuguese and Spanish) available in our members-only library, and an extensive bookstore open to the public..</div>
                <div class="content-activities-grid content-activities-grid-2 mt10">
                    <div class="content-activities-blue-1">Wednesdays</div>
                    <div class="content-activities-blue-4 ml5">6:00 pm to 8:00 pm</div>

                    <div class="content-activities-grey-1 mt5">Sundays</div>
                    <div class="content-activities-grey-4 ml5 mt5">11:00 am to 12:30 pm</div>
                </div>
                <div class="subtitle-main-site mt50 text-center">Spiritist Activities and Services- Description</div>
                <div class="subtitle-main-site mt40">Study of The Gospel in Portuguese</div>
                <div class="mt10">Weekly meetings offered to people who are interested in learning or study in depth The Gospel according to Spiritism. During these meetings, the chapters of the Gospel are studied and discussed. Through appropriate methodology, attendants are encouraged to participate and contribute to the studies, as well as to achieve self-awareness and individual transformation.</div>
                <div class="subtitle-main-site mt40">Study of Spiritism in English</div>
                <div class="mt10">The main purpose of this work is to fulfill, in the English language, the ideas of Kardec about a systematic study of Spiritism principles. Accordingly, the interested person has an opportunity to build up a main understanding of the scientific, moral and philosophical aspects of Spiritism. This is an open and ongoing study to serve the English speaking community. This study has as reference Kardec’s foundation books and Spiritist literature available in the English language</div>
                <div class="subtitle-main-site mt40">Toronto Spiritism Weekend</div>
                <div class="icons">
                    <a class="mt10" href="https://www.facebook.com/TorontoSpiritistWeekend" target="_blank" rel="noreferrer noopener">Facebook</a>
                    <a class="mt10" href="https://instagram.com/torontospiritistweekend?igshid=NzAzN2Q1NTE=" target="_blank" rel="noreferrer noopener">Instagram</a>
                    <a class="mt10" href="https://tsweekend.ca/" target="_blank" rel="noreferrer noopener">TWS Website</a>
                </div>
                <div class="subtitle-main-site mt40">Fraternal Meeting</div>
                <div class="mt10">Fraternal Help is offered with the objective to help who comes to the Spiritist group seeking for help and advice due to physical, psychological, spiritual problems, or a combination. Volunteer-workers are trained in Spiritist postulates and basic knowledge of interpersonal skills</div>
                <div class="subtitle-main-site mt40">Caring Family and Child Evangelization</div>
                <div class="mt10">Caring Family proposes reflective topics on the educational role of parents, family members and everyone who lives with children, so that they can harmonize all family environments. Thus allowing contact with educational subjects that can clarify your doubts, helping to remedy relationship difficulties in the most diverse daily aspects.<br><br></div>
                <div class="mt10">The family is the school of blessings where one learns the fundamental duties for a happy life and without whose support ideals wither, aspirations fail, moral resistance withers. The human being is structurally constituted to live in a family, in order to develop the sublime psychic contents that lie dormant in him, awaiting the stimuli of coexistence at home, to release them and sublimate himself.” <br><br> Divaldo Franco / Joanna de Angelis</div>
                <div class="subtitle-main-site mt40">Passe</div>
                <div class="mt10">Passe is a therapeutic technique used to promote balance on a person’s energy, body and spirit, and aims to assist in healing processes.</div>
                <div class="subtitle-main-site mt40">Systematic Study of Spiritism in Portuguese</div>
                <div class="mt10">Closed study group.<br><br> The goals of this group are:<br><br> 1) to build up a broad understanding of Spiritism and its triple aspects: scientific, religious and philosophical;<br><br> 2) to encourage that the knowledge acquired is used in the daily routine and individual moral transformation; and<br><br> 3) to prepare volunteer-workers for JASSG’s activities</div>
                <div class="subtitle-main-site mt40">Study and Mediumistic Practice</div>
                <div class="mt10">It is a closed study group which aims to prepare volunteer-workers that want and need to educate themselves regarding theirs mediumistic faculties. The ultimate goal is to help the participants to practice their mediumship in a healthy way. It is a long-term and constant preparation, which follows the guidelines codified by Allan Kardec and presented in complementary Spiritist literature.</div>
                <div class="subtitle-main-site mt40">Vibration Time</div>
                <div class="mt10">It is an activity open to anyone in the community who wants, together, to reflect, thank God for all benefits received, or seek assistance and support to go through difficult periods. Prayer is a valuable resource in the restoration of individual and collective balance, that allows us to alter our mental vibrations and communicate with God.</div>
            </div>
        </div>
    </section>

{% endblock %}
