{% set slug = 'contact' %}
{% set lang = 'pt' %}
{% extends '_base.html' %}
{% block content %}

    <section id="banner-contact">
        <div class="background-banner-contact">
            <div class="text-banner-telas">
                Entre em contato			</div>
        </div>
    </section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.9395421633226!2d-79.42971708414451!3d43.64942617912138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34566fdb774b%3A0x70e0d9eda83fabf6!2sJoanna%20de%20%C3%82ngelis%20Spiritist%20Study%20Group!5e0!3m2!1spt-BR!2sbr!4v1632479829360!5m2!1spt-BR!2sbr" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<section>
  <div class="content-canada">
    <div class="container-group">
      <div class="row">
        <div class="col-md-12 text-center">
          <i class="lab la-canadian-maple-leaf" style="font-size: 36px"></i>
          <div class="title-canada" style="font-size: 26px">Grupos Espíritas no Canadá</div>
        </div>
      </div>
      <div class="row mt30 mb10">
        <div class="col-md-12 text-left">
          <div style="font-family: 'NexaBold'; font-size: 24px;">Ontario</div>
        </div>
      </div>
      <div class="group">
        <div class="group-wrapper">
          <div><strong>Joanna de Angelis Spiritist Study Group</strong></div>
          <div>1357 B Dundas Street West Toronto - ON - M6J 1Y3</div>
          <div><strong>Fone:</strong> +1 (416) 532-7896</div>
          <div class="icons-form">
            <a class="mt10" href=" https://www.facebook.com/jassgtoronto">Facebook</a>
          </div>
          <div class="icons-instagram">
            <a class="mt10" href="https://www.instagram.com/joannadeangelisca/" target="_blank" rel="noreferrer noopener">Instagram</a>
          </div>
          <div class="link-form">
            <a href="https://joannadeangelis.ca/" target="_blank" rel="noreferrer noopener"><strong>Website: </strong> joannadeangelis.ca</a>
          </div>
          <div class="link-form">
            <a href="mailto:info@joannadeangelis.ca" target="_blank" rel="noreferrer noopener"><strong>Email: </strong> info@joannadeangelis.ca</a></a>
          </div>
        </div>

        <div class="group-wrapper">
          <div><strong>Rest on the Way</strong></div>
          <div>1268 St. Clair Ave. West, 2º andar Toronto - ON - M6E 1B9</div>
          <div class="link-form">
            <a href="restontheway.ca" target="_blank" rel="noreferrer noopener"><strong>Website: </strong>  restontheway.ca</a>
          </div>
        </div>

        <div class="group-wrapper">
          <div><strong>Toronto Spiritist Society</strong></div>
          <div>261 Gerrard St East Toronto, ON M5A 2G1</div>
          <div><strong>Fone:</strong>+1 (416) 723-2242</div>
          <div class="link-form">
            <a href="https://www.torontospiritistsociety.org/" target="_blank" rel="noreferrer noopener"><strong>Webmail: </strong> torontospiritistsociety.org</a>
          </div>
          <div class="link-form">
            <a href="mailto:info@torontospiritistsociety.org" target="_blank" rel="noreferrer noopener"><strong>Email: </strong>info@torontospiritistsociety.org</a></a>
          </div>
        </div>
      </div>

      <div class="group">
        <div>
          <!-- <div class="row mt70 mb10">
            <div class="col-md-12 text-left">
              <div style="font-family: 'NexaBold'; font-size: 24px;"></div>
            </div>
          </div> -->
          <div class="group-wrapper">
            <div class="group-wrapper">
              <div><strong>Grupo de Estudos Espíritas Paulo de Tarso</strong></div>
              <div>Waterloo, Ontario · Cambridge, Ontario · Kitchener, Ontario</div>
              <div class="icons-form">
                <a class="mt10" href="https://www.facebook.com/groups/777520699267605/">Facebook</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <!-- <div class="row mt70 mb10">
            <div class="col-md-12 text-left">
              <div style="font-family: 'NexaBold'; font-size: 24px;"></div>
            </div>
          </div> -->
          <div class="group-wrapper">
            <div class="group-wrapper-sx">
              <div><strong>Home of Dulce</strong></div>
              <div class="icons-form">
                <a class="mt10" href="https://www.facebook.com/homeofdulcesc/">Facebook</a>
              </div>
              <div class="link-form">
                <a class="mt10" href="https://homeofdulce.com/"><strong>Website: </strong> homeofdulce.com/</a>
              </div>
              <div class="link-form">
                <a class="mt10" href="mailto:info@homeofdulce.com"><strong>Email: </strong> info@homeofdulce.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt70 mb10">
        <div class="col-md-12 text-left">
          <div style="font-family: 'NexaBold'; font-size: 24px;">Quebec</div>
        </div>
      </div>
      <div class="group">
        <div class="group-wrapper">
          <div><strong>Centre d’Études Spirites Fraternité</strong></div>
          <div>5573, Rue de Verdun Montréal – QC – H4H 1L2</div>
          <div class="link-form">
            <a href="https://www.cesf.ca/" target="_blank" rel="noreferrer noopener"><strong>Webmail: </strong> cesf.ca</a>
          </div>
        </div>
        <div class="group-wrapper">
          <div><strong>Centro Espírita Mensageiros Luz e Paz</strong></div>
          <div>3877 Rue Monselet Montréal-Nord – QC – H1H 2P9</div>
          <div><strong>Fone:</strong>+1 (514) 328-3901</div>
          <div class="link-form">
            <a href="https://centroluzepaz.ca/" target="_blank" rel="noreferrer noopener"><strong>Webmail: </strong> centroluzepaz.ca</a>
          </div>
          <div class="link-form">
            <a href="mailto:centroluzepaz@hotmail.com" target="_blank" rel="noreferrer noopener"><strong>Email: </strong> centroluzepaz@hotmail.com</a></a>
          </div>
        </div>
        <div class="group-wrapper">
          <div><strong>Centre Spirite Justice, Amour et Charité</strong></div>
          <div>4701 Boul Robert St-Léonard – QC – H1R 3E6</div>
          <div class="link-form">
            <a href="https://www.centrespiritejac.org/" target="_blank" rel="noreferrer noopener">Facebook</a>
          </div>
        </div>
      </div>

      <div class="group">
        <div>
          <!-- <div class="row mt70 mb10">
            <div class="col-md-12 text-left">
              <div style="font-family: 'NexaBold'; font-size: 24px;"></div>
            </div>
          </div> -->
          <div class="row-quebec">
            <div class="group-wrapper">
              <div><strong>Centre d´Étude Allan Kardec de Québec</strong></div>
              <div class="link-form">
                <a href="http://www.ceakquebec.com"><strong>Webmail: </strong> ceakquebec.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content-world">
    <div class="container">
      <div class="row mb30">
        <div class="col-md-12 text-center">
          <i class="las la-globe" style="font-size: 36px"></i>
          <div class="title-world" style="font-size: 26px">Sociedades Espíritas no Mundo</div>
        </div>
      </div>
      <div class="contact-wrapper">
        <div class="group-society">
          <div class="group-wrapper">
            <div><strong>International Spiritist Council</strong> <br><br> SGAN – Q. 603 – Cj. F Brasília – DF – Brasil  <strong>Cep:</strong> 70830-030 <br><br> <strong>Fone:</strong> +55 (61) 322-3024  <br> <strong>Fax:</strong>  +55 (61) 321-8760 <br><br></div>
            <div>
              <a class="link" href="https://spiritistinstitute.org/" target="_blank" rel="noreferrer noopener"><strong>Website:</strong> spiritist.org<br><br></a>
              <a class="link" href="mailto:spiritist@spiritist.org" target="_blank" rel="noreferrer noopener"><strong>E-mail:</strong> spiritist@spiritist.org </a>
            </div>
          </div>
          <div class="group-wrapper">
            <div><strong>Canadian Spiritist Council</strong><br><br></div>
            <div class="icons-society">
              <a class="mt10" href="https://www.facebook.com/canadianspiritistcouncil">Facebook</a>
            </div>
            <div>
              <a class="link" href="https://www.canadianspiritistcouncil.ca/" target="_blank" rel="noreferrer noopener"><strong>Website:</strong> canadianspiritistcouncil.ca</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
