{% set slug = 'groups' %}
{% set lang = 'pt' %}
{% extends "_base.html" %}
{% block content %}

    <section id="banner-spiritism">
        <div class="background-banner-groups">
            <div class="text-banner-telas">
                Grupos, centros ou sociedades espíritas
            </div>
        </div>
    </section>

    <section>
        <div class="mt50 mb50">
            <div class="container">
                <div>“Estes Grupos, correspondendo entre si, visitando-se e transmitindo-se os resultados a que chegaram, podem, ainda agora, formar o núcleo da grande família espírita que um dia reunirá para si todas as opiniões e unirá todos os homens. na fraternidade comum da caridade cristã. ”<br> <span style="color: #456095; font-style: italic;"> Allan Kardec (O Livro dos Médiuns - Cap. XXIX - Item 334)</span></div>
                <div class="subtitle-main-site mt40">O que eles são</div>
                <div class="mt10">
        Os Grupos, Centros ou Sociedades Espíritas são:
        <ul class="mt10">
            <li>Núcleos de estudo, de fraternidade, de oração e de trabalho, praticados dentro dos princípios espíritas;</li>
            <li>Escolas de formação espiritual e moral, que trabalham à luz do Espiritismo;</li>
            <li>Postos de atendimento fraternal para todos os que os procuram com o propósito de obter orientação, esclarecimento, ajuda ou consolação;</li>
            <li>Oficinas de trabalho que proporcionam aos seus freqüentadores oportunidades de exercitarem o próprio aprimoramento íntimo pela prática do Evangelho em suas atividades;</li>
            <li>Casas onde as crianças, os jovens, os adultos e os idosos têm oportunidade de conviver, estudar e trabalhar, unindo a família sob a orientação do Espiritismo;</li>
            <li>Recantos de paz construtiva, que oferecem aos seus freqüentadores oportunidades para o refazimento espiritual e a união fraternal pela prática do “Amai-vos uns aos outros”;</li>
            <li>Núcleos que se caracterizam pela simplicidade própria das primeiras casas do Cristianismo nascente, pela prática da caridade e pela total ausência de imagens, símbolos, rituais ou outras quaisquer manifestações exteriores;</li>
            <li>As unidades fundamentais do Movimento Espírita.</li>
        </ul></div>
                <div class="subtitle-main-site mt40">Seus objetivos</div>
                <div class="mt10">
        Os Grupos, Centros ou Sociedades Espíritas têm por objetivo promover o estudo, a difusão e a prática do Espiritismo, atendendo às pessoas que:
        <ul class="mt10">
            <li>Buscam esclarecimento, orientação e amparo para seus problemas espirituais, morais e materiais;</li>
            <li>Querem conhecer e estudar o Espiritismo;</li>
            <li>Querem trabalhar, colaborar e servir em qualquer área de ação que a prática espírita oferece.</li>
        </ul></div>
                <div class="subtitle-main-site mt40">Suas atividades básicas</div>
                <div class="mt10">
        <p>Os Grupos, Centros ou Sociedades Espíritas têm por atividades básicas:</p>
        <ul>
            <li>Realizar reuniões de estudo do Espiritismo, de forma programada, metódica ou sistematizada, destinadas às pessoas de todas as idades e de todos os níveis culturais e sociais, que possibilitem um conhecimento abrangente e aprofundado do Espiritismo em todos os seus aspectos;</li>
            <li>Realizar reuniões de explanação do Evangelho à luz do Espiritismo, aplicação de passes e atendimento fraterno através do diálogo, para as pessoas que procuram e freqüentam os núcleos espíritas em busca de esclarecimento, orientação, ajuda e assistência espiritual e moral;</li>
            <li>Realizar reuniões de estudo, educação e prática da mediunidade, com base nos princípios e objetivos espíritas, esclarecendo, orientando e preparando trabalhadores para as atividades mediúnicas;</li>
            <li>Realizar reuniões de evangelização espírita para crianças e jovens, de forma programada, metódica ou sistematizada, atendendo-os, esclarecendo-os e orientando-os dentro dos ensinos do Espiritismo;</li>
            <li>Realizar o trabalho de divulgação do Espiritismo através de todos os veículos e meios de comunicação social compatíveis com os princípios espíritas, tais como: palestras, conferências, livros, jornais, revistas, boletins, folhetos, mensagens, rádio, TV, cartazes, fitas de vídeo e áudio;</li>
            <li>Realizar o serviço de assistência e promoção social espírita destinado a pessoas carentes que buscam ajuda material: assistindo-as em suas necessidades mais imediatas; promovendo-as por meio de cursos e trabalhos de formação profissional e pessoal; e esclarecendo-as com os ensinos morais do Evangelho à luz do Espiritismo;</li>
            <li>Estimular e orientar os seus freqüentadores para a implantação e manutenção da reunião de estudo do Evangelho no Lar, como apoio para a harmonia espiritual de suas famílias;</li>
            <li>Participar das atividades que têm por objetivo a união dos espíritas e das Instituições Espíritas e a unificação do Movimento Espírita, conjugando esforços, somando experiências, permutando ajuda e apoio, aprimorando as atividades espíritas e fortalecendo a ação dos espíritas;</li>
            <li>Realizar as atividades administrativas necessárias ao seu normal funcionamento, compatíveis com a sua estrutura organizacional e com a legislação do seu país.</li>
        </ul></div>
            </div>
        </div>
    </section>

{% endblock %}
