{% extends "_base_en.html" %}
{% block content %}

    <section id="banner-spiritism">
        <div class="background-banner-groups">
            <div class="text-banner-telas">
                Spiritist groups, centres or societies
            </div>
        </div>
    </section>

    <section>
        <div class="mt50 mb50">
            <div class="container">
                <div>“These Groups, corresponding together, visiting each other, and transmitting to one another the results arrived at by each, may, even now, form the nucleus of the great spiritist family which will one day rally to itself all opinions, and unite all men in the common brotherhood of Christian charity.”<br> <span style="color: #456095; font-style: italic;">Allan Kardec (The Mediums’ Book – Chapt. XXIX – Item 334)</span></div>
                <div class="subtitle-main-site mt40">What They Are</div>
                <div class="mt10">The Spiritist Groups, Centers, or Societies are:
        <ul class="mt10">
            <li>Nucleus of study, fraternity, prayer, and activities practiced within the Spiritist principles;</li>
            <li>Schools of spiritual and moral education, operating according to the Spiritism;</li>
            <li>Posts of fraternal assistance open to everyone in search for guidance, enlightenment, help, or consolation;</li>
            <li>Workshops which provide participants opportunities to exercise their inner growth through the practice of the Gospel in their activities;</li>
            <li>Places where the children, the youth, the adults, and the elderly have the opportunity to socialize, study, and perform activities together to unite the family under the guidance of Spiritism;</li>
            <li>Retreats of peace which offer participants opportunities for spiritual renewal and fraternal union through the practice of the maxim “Love one another”;</li>
            <li>Nucleus characterized by the simplicity typical of the first congregations of the nascent Christianity; by the practice of charity; and by the total absence of images, symbols, rituals, or other exterior manifestations; and</li>
            <li>Institutions that represent the fundamental units of the Spiritist Movement.</li>
        </ul></div>
                <div class="subtitle-main-site mt40">Their Objectives</div>
                <div class="mt10">
        The objectives of the Spiritist Groups, Centres, or Societies are to promote the study, dissemination, and practice of the Spiritist Doctrine, while tending to individuals who:
        <ul class="mt10">
            <li>Seek enlightenment, guidance, and help for their spiritual, moral, and material problems;</li>
            <li>Wish to get acquainted with and study the Spiritism;</li>
            <li>Wish to work, collaborate, and serve in any field of action the Spiritist practice has to offer.</li>
        </ul></div>
                <div class="subtitle-main-site mt40">Their Basic Activities</div>
                <div class="mt10">
        <p>The basic activities of the Spiritist Groups, Centers, or Societies are:</p>
        <ul>
            <li>To conduct meetings for the study of the Spiritism, in a programmed, methodical, and systematic form, open to individuals of all ages and every cultural and social standing, and aimed at enabling a deep and wide-ranging knowledge of Spiritism in all of its aspects.</li>
            <li>To conduct meetings for the explanation of the Gospel according to the Spiritism, the practice of passes (laying on of hands), and to extend fraternal assistance through dialogue to those who approach the Spiritist Centers in search of enlightenment, guidance, help, and spiritual and moral assistance.</li>
            <li>To conduct meetings for the study, education, and practice of mediumship based on Spiritist principles and objectives, thereby enlightening, guiding, and preparing individuals for mediumship activities.</li>
            <li>To conduct meetings for children and the youth, in a programmed, methodical, and systematic form, thereby assisting, enlightening, and guiding them within the teachings of the Spiritism.</li>
            <li>To carry out the work of dissemination of the Spiritism through all modes of social communication compatible with the Spiritist principles, such as lectures, conferences, books, newspapers, magazines, bulletins, pamphlets, hand-outs, radio, TV, posters, audio and video tapes.</li>
            <li>To carry out activities for community development by helping participants with their most pressing needs, and by enlightening them with the moral teachings of the Gospel according to the Spiritism.</li>
            <li>To encourage and offer guidelines to individuals who attend their meetings toward implanting and maintaining the “Gospel at Home” practice, as sustenance for the spiritual harmonization of their families.</li>
            <li>To participate in activities aimed at the union of Spiritists and Spiritist Institutions as well as the unification of the Spiritist Movement by joining their efforts together; summing up their experiences; providing mutual help and support; improving Spiritist activities in general; and strengthening the actions of the Spiritists.</li>
            <li>To perform the administrative tasks which are necessary to their regular operation in accordance with their organizational structure and in compliance with all applicable local legislation.</li>
        </ul></div>
            </div>
        </div>
    </section>

{% endblock %}
