{% extends '_base_en.html' %}
{% block content %}

    <section id="banner">
        <div class="background-banner">
            <div class="text-banner">
                <span class="t-banner">Spiritism</span>
                is, at the same time, <br> an
                <span class="t-banner">observation science</span>
                <br> and a
                <span class="t-banner">philosophical doctrine</span>.
                <br> (from the book: "What is Spiritism?")
            </div>
        </div>
    </section>

    <section id="about">
        <div class="mt100 mb100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="title-main-site">About Us</div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-md-12 text-center">
                        <div class="text-about">Joanna de Angelis Spiritist Study Group (JASSG) is a non-profit organization founded in 1996 and incorporated by the Province of Ontario in 2004 to disseminate Spiritism in the Greater Toronto Area by helping and supporting the community exercising the triple Spiritist aspects: Philosophical, Religious and Spiritual.</div>
                    </div>
                </div>
                <div class="row ai_center jc_center mt30">
                    <a href="about.en.html">
                        <div class="btn-default-site">Learn more</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="spiritism" class="hidden-xs hidden-sm">
        <div class="d_flex">
            <div class="content-spiritism">
                <div class="text-spiritism">
                    <div class="title-main-site-white">Spiritism</div>
                    <div class="mt30">For new things new words are necessary for the sake of clarity of language so we may avoid the confusion inherent to the multiple meanings of various terms. The words spiritual, spiritualist and spiritualism all have a well defined meaning. To give them a new one, in order to apply them to the Spirits’ Doctrine would be to multiply the already-numerous causes of ambiguity. Strictly speaking, Spiritualism is the opposite of Materialism; all who believe that there is something within them that is more than matter or spiritualists, but it does not follow that they believe in the existence of spirits or in communication with the visible world.</div>
                    <div class="jc_center mt50">
                        <a href="spiritism.en.html">
                            <div class="btn-default-site-border">Read more</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="img-spiritism"></div>
        </div>
    </section>

    <section id="spiritism-mob" class="hidden-md hidden-lg">
        <div class="d_flex fd_column">
            <div class="img-spiritism-mob"></div>
            <div class="content-spiritism">
                <div class="text-spiritism" style="padding: 40px 20px;">
                    <div class="title-main-site-white">Spiritism</div>
                    <div class="mt30">For new things new words are necessary for the sake of clarity of language so we may avoid the confusion inherent to the multiple meanings of various terms. The words spiritual, spiritualist and spiritualism all have a well defined meaning. To give them a new one, in order to apply them to the Spirits’ Doctrine would be to multiply the already-numerous causes of ambiguity. Strictly speaking, Spiritualism is the opposite of Materialism; all who believe that there is something within them that is more than matter or spiritualists, but it does not follow that they believe in the existence of spirits or in communication with the visible world.</div>
                    <div class="jc_center mt50">
                        <a href="spiritism.en.html">
                            <div class="btn-default-site-border">Read more</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="activities" class="hidden-xs hidden-sm">
        <div class="mt100 mb100">
            <div class="ai_center">
                <div class="f_1">
                    <img src="images/activities_img.jpg" alt="" class="img-activities">
                </div>
                <div class="content-activities">
                    <div class="text-activities">
                        <div class="title-main-site">Activities</div>
                        <div class="mt10" style="color: #434939">In order to fulfill our mission, we offer a series of activities regarding Spiritism and Community and Individual Development, aiming to spread Spiritist teachings as a philosophy for life and to help our community with its issues.</div>
                        <div class="mt20">
                            <a href="activities.en.html">
                                <div class="btn-default-site">See all activities</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="activities-mob" class="hidden-md hidden-lg">
        <div class="mt100 mb100">
            <div class="ai_center fd_column">
                <div class="f_1">
                    <img src="images/activities_img.jpg" alt="" class="img-activities">
                </div>
                <div class="content-activities mt20">
                    <div class="text-activities">
                        <div class="title-main-site">Activities</div>
                        <div class="mt10" style="color: #434939">In order to fulfill our mission, we offer a series of activities regarding Spiritism and Community and Individual Development, aiming to spread Spiritist teachings as a philosophy for life and to help our community with its issues.</div>
                        <div class="mt20">
                            <a href="activities.en.html" target="_blank" rel="noreferrer noopener">
                                <div class="btn-default-site">See all activities</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title-main-site">News</div>
                </div>
            </div>
            <div class="row all_blog mt30">
                            </div>
            <div class="row mt50 mb100">
                <div class="more-blog">
                    <a href="blog.en.html">
                        <div class="ai_center">
                            <div><i class="las la-plus-circle mr5"></i></div>
                            <div>See All</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section> -->

{% endblock %}
